ul {
    margin-top: 20px;
}

.note-number {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    color: #dc3545;
    font-weight: 500;
    font-size: 20px;
}
.inline-row {
    display: flex;
    align-items: center;

    .index {
        margin: 0px 7px;
        color: #dc3545;
        font-size: 25px;
    }
}