@use '../../../styles/' as *

$space: 2.4rem

.side
  position: fixed
  top: 0
  right: -35vw
  background: $color-black
  width: 30vw
  height: 100%
  transition: 0.3s right ease

.open
  right: 0vw

.wrapper
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 auto
  height: 100%
  padding: 4rem 8rem
  overflow-y: scroll

  &__title
    width: 44rem
    text-align: center
    position: fixed
    top: 0
    padding: $space 0
    background: linear-gradient(0deg, rgba($color-black, 0) -0%, $color-black 80%)
    color: $color-white

.close
  position: absolute
  left: -40px
  top: 2.4rem
  width: 4rem
  height: 4rem
  cursor: pointer

  &::before, &::after
    position: absolute
    content: '',
    display: block
    background: $color-black
    width: 40px
    height: 4px
    border-radius: 6px

  &::before
    transform-origin: left bottom
    transform: rotateZ(45deg) translate(0px, -1px)

  &::after
    transform-origin: right top
    transform: rotateZ(-45deg) translate(-8px, -8px)

.modal
  width: 100%

@media  ( max-width: 750px  )
  .side
    right: -80vw
    background: $color-black
    width: 70vw

  .open
    right: -1vw
